/* ==========================================================================
   Base styles
   ========================================================================== */

html {
    color: #222;
    line-height: 1.4;
	font-family: 'Alegreya Sans SC', sans-serif;    
	width: 100%;
}

#p1 {
	font-size: 12px;
	margin-top: 5%;
	margin-left: 10%;
} 

#p2 {
	font-size: 25px;
	margin-top: 10%;
	margin-left: 50%;
} 

#p3 {
	font-size: 35px;
	margin-left: 15%;
	margin-top: 20%;
} 

#p4 {
	color: white;
	font-size: 35px;
	margin-top: 8%;
	margin-left: 78%;
} 

.Degrade {
	background-image:linear-gradient(white, #9BB4C4);
	height: 100vh;
}

@media screen and (max-width: 700px) {
	
#p1 {	
	font-size: 15px;
	margin-left: 0%;
	margin-top: 8%;
	text-align: center;
}
	
#p2 {	
	font-size: 15px;
	margin-left: 0%;
	margin-top: 8%;
	text-align: center;
}
	
#p3 {	
	font-size: 15px;
	margin-left: 0%;
	margin-top: 8%;
	text-align: center;
}
	
#p4 {	
	font-size: 30px;
	margin-left: 0%;
	margin-top: 8%;
	text-align: center;
}
}

	
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}


